# Import library

In [1]:
# pip install metapy-toolbox or pip install --upgrade metapy-toolbox
from metapy_toolbox import hill_climbing_01
from my_example import tensao_max

# Setup

In [2]:
# Algorithm setup
setup = {   
            'number of iterations': 100,
            'number of population': 1,
            'number of dimensions': 1,
            'x pop lower limit': [0.0],
            'x pop upper limit': [180.0],
            'none variable': None,
            'objective function': tensao_max,
            'algorithm parameters': {
                                        'mutation': {
                                                     'cov (%)': 100,
                                                     'pdf': 'gaussian'
                                                    }
                                    },
        }

# random guess
from metapy_toolbox import initial_population_01
init_pop = initial_population_01(setup['number of population'],
                                setup['number of dimensions'],
                                setup['x pop lower limit'],
                                setup['x pop upper limit'])

# Seed
seed = None

# Call function

In [3]:
settings = [setup, init_pop, seed]
df_all_results, df_resume, time_cost, report = hill_climbing_01(settings)

Progress: 100%|██████████| 100/100 [00:00<00:00, 1359.73it/s]

# Output details

In [4]:
df_all_results.tail(20)

            X_0         OF        FIT  ITERATION
81   180.000000  50.000000   0.019608         81
82   124.518931 -28.085210  29.085210         82
83   111.463000 -29.209146  30.209146         83
84    87.200747  -5.954621   6.954621         84
85    41.985880  62.929369   0.015642         85
86   131.009026 -23.778307  24.778307         86
87    26.369567  69.998836   0.014085         87
88    73.444125  16.722748   0.056425         88
89   149.208619  -0.903552   1.903552         89
90     0.000000  50.000000   0.019608         90
91   150.219467   0.711809   0.584177         91
92     0.000000  50.000000   0.019608         92
93    86.913388  -5.524650   6.524650         93
94   105.759183 -26.485053  27.485053         94
95   180.000000  50.000000   0.019608         95
96   100.312337 -22.167027  23.167027         96
97   106.877790 -27.168513  28.168513         97
98   180.000000  50.000000   0.019608         98
99    86.414817  -4.772578   5.772578         99
100    0.000000  50.000000   0.019608        100

In [5]:
df_resume

,X_0_BEST,OF BEST,FIT BET,ID BEST,X_0_WORST,OF WORST,FIT WORST,ID WORST,OF AVG,FIT AVG,ITERATION,neof
0,88.253953,-7.507864,8.507864,0,88.253953,-7.507864,8.507864,0,-7.507864,8.507864,0,1
1,88.253953,-7.507864,8.507864,0,88.253953,-7.507864,8.507864,0,-7.507864,8.507864,1,2
2,88.253953,-7.507864,8.507864,0,88.253953,-7.507864,8.507864,0,-7.507864,8.507864,2,3
3,119.381188,-29.758614,30.758614,0,119.381188,-29.758614,30.758614,0,-29.758614,30.758614,3,4
4,119.381188,-29.758614,30.758614,0,119.381188,-29.758614,30.758614,0,-29.758614,30.758614,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
96,118.619939,-29.871429,30.871429,0,118.619939,-29.871429,30.871429,0,-29.871429,30.871429,96,97
97,118.619939,-29.871429,30.871429,0,118.619939,-29.871429,30.871429,0,-29.871429,30.871429,97,98
98,118.619939,-29.871429,30.871429,0,118.619939,-29.871429,30.871429,0,-29.871429,30.871429,98,99
99,118.619939,-29.871429,30.871429,0,118.619939,-29.871429,30.871429,0,-29.871429,30.871429,99,100
100,118.619939,-29.871429,30.871429,0,118.619939,-29.871429,30.871429,0,-29.871429,30.871429,100,101

# Report

### txt

In [6]:
filename = "report_hill_climbing_01.txt"
with open(filename, "w") as f:
    f.write(report)

### xlsx

In [7]:
filename = "report_hill_climbing_01.xlsx"
df_resume.to_excel(filename, index=False)