# Import library

In [1]:
# pip install metapy-toolbox
from metapy_toolbox import genetic_algorithm_01
from my_example import my_obj_function

# Setup

In [2]:
# Algorithm setup
setup = {   
            'number of iterations': 100,
            'number of population': 3,
            'number of dimensions': 2,
            'x pop lower limit': [-5, -5],
            'x pop upper limit': [5, 5],
            'none variable': None,
            'objective function': my_obj_function,
            'algorithm parameters': {'selection': {'type': 'roulette'},
                                     'crossover': {'crossover rate (%)': 82, 'type': 'linear cross'},
                                     'mutation': {'mutation rate (%)': 12, 'type': 'hill climbing', 'cov (%)': 15, 'pdf': 'gaussian'},
                                    }
        }

# Initial guess
init_pop = [[-0.74, 1.25],
            [3.58, -3.33],
            [1.50, 1.50]]
"""
or # random guess
from metapy_toolbox import initial_population_01
init_pop = initial_population_01(setup['number of population'],
                                setup['number of dimensions'],
                                setup['x pop lower limit'],
                                setup['x pop upper limit'])
"""

# Seed
seed = None

# Call function

In [3]:
settings = [setup, init_pop, seed]
df_all_results, df_resume, time_cost, report = genetic_algorithm_01(settings)

# Output details

In [4]:
df_all_results

          X_0       X_1         OF       FIT  ITERATION
0   -0.740000  1.250000   2.110100  0.321533          0
1    3.580000 -3.330000  23.905300  0.040152          0
2    1.500000  1.500000   4.500000  0.181818          0
3    1.498513 -1.053591   3.355595  0.229590          1
4    2.540000 -0.915000   7.288825  0.120644          1
..        ...       ...        ...       ...        ...
298 -0.000075  0.002064   0.000004  0.999996         99
299 -0.000053  0.002065   0.000004  0.999996         99
300 -0.000040  0.002065   0.000004  0.999996        100
301 -0.000053  0.002065   0.000004  0.999996        100
302 -0.000043  0.002065   0.000004  0.999996        100

[303 rows x 5 columns]

In [5]:
df_resume

,X_0,X_1,OF BEST,FIT BET,ID BEST,X_0,X_1,OF WORST,FIT WORST,ID WORST,OF AVG,FIT AVG,ITERATION,neof
0,-0.740000,1.250000,2.110100,0.321533,0,3.580000,-3.330000,23.905300,0.040152,1,10.171800,0.181168,0,3
1,0.380000,1.375000,2.035025,0.329487,2,2.540000,-0.915000,7.288825,0.120644,1,3.811317,0.257221,1,13
2,-0.180000,1.312500,1.755056,0.362969,2,1.827347,-1.071939,4.488252,0.182207,1,2.784470,0.288903,2,17
3,0.543674,0.089030,0.303508,0.767161,1,-0.740000,1.250000,2.110100,0.321533,0,0.979248,0.581601,3,23
4,0.516751,0.096152,0.276277,0.783529,1,-0.098163,0.669515,0.457887,0.685924,0,0.338313,0.750077,4,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,-0.000031,0.002066,0.000004,0.999996,2,-0.000199,0.002064,0.000004,0.999996,1,0.000004,0.999996,96,753
97,-0.000004,0.002066,0.000004,0.999996,2,-0.000086,0.002065,0.000004,0.999996,0,0.000004,0.999996,97,762
98,-0.000032,0.002065,0.000004,0.999996,2,-0.000086,0.002065,0.000004,0.999996,0,0.000004,0.999996,98,765
99,-0.000032,0.002065,0.000004,0.999996,2,-0.000017,0.002066,0.000004,0.999996,0,0.000004,0.999996,99,774
100,-0.000040,0.002065,0.000004,0.999996,0,-0.000053,0.002065,0.000004,0.999996,1,0.000004,0.999996,100,783

# Report

### txt

In [6]:
filename = "report_genetic_algorithm_01.txt"
with open(filename, "w") as f:
    f.write(report)

### xlsx

In [7]:
filename = "report_genetic_algorithm_01.xlsx"
df_resume.to_excel(filename, index=False)