# Import library

In [1]:
# pip install metapy-toolbox
from metapy_toolbox import genetic_algorithm_01
from my_example import my_obj_function2

# Test Objective Function

In [2]:
import pandas as pd
# # PLANILHA = pd.read_excel('/home/wanderlei/Documentos/GitHub/METAPYDEV/IDF 61-14 fin.xlsx')
dataset = pd.read_excel('/home/wanderlei/Documentos/GitHub/METAPYDEV/IDF 61-14 fin.xlsx', sheet_name="dataset")

# x = [0.1320, 10.514, 0.7520, 1067.5019]
# of = my_obj_function2(x, dataset)
# of

/home/wanderlei/.local/lib/python3.11/site-packages/openpyxl/reader/workbook.py:102: UserWarning: Defined names for sheet index 2 cannot be located
  warn(f"Defined names for sheet index {idx} cannot be located")

# Setup

In [3]:
# Algorithm setup
setup = {   
            'number of iterations': 1000,
            'number of population': 10,
            'number of dimensions': 4,
            'x pop lower limit': [0, 0, 0, 0],
            'x pop upper limit': [2, 20, 2, 1200],
            'none variable': dataset,
            'objective function': my_obj_function2,
            'algorithm parameters': {'selection': {'type': 'roulette'},
                                     'crossover': {'crossover rate (%)': 82, 'type':'linear cross'},
                                     'mutation': {'mutation rate (%)': 12, 'type': 'hill climbing', 'cov (%)': 15, 'pdf': 'gaussian'},
                                    }
        }

# # Initial guess
# init_pop = [[-0.74, 1.25],
#             [3.58, -3.33],
#             [1.50, 1.50]]

# random guess
from metapy_toolbox import initial_population_01
init_pop = initial_population_01(setup['number of population'],
                                setup['number of dimensions'],
                                setup['x pop lower limit'],
                                setup['x pop upper limit'])

# Seed
seed = None

# Call function

In [4]:
settings = [setup, init_pop, seed]
df_all_results, df_resume, time_cost, report = genetic_algorithm_01(settings)

# Output details

In [5]:
df_all_results

,X_0,X_1,X_2,X_3,OF,FIT,ITERATION
0,1.199349,2.903629,1.660603,1154.922076,3.559611e+08,2.809296e-09,0
1,1.653176,4.848064,0.821226,273.671855,3.971121e+11,2.518180e-12,0
2,0.539380,1.628954,0.205897,534.914221,1.984754e+07,5.038409e-08,0
3,1.932369,13.412877,0.286646,936.684502,4.152301e+15,2.408303e-16,0
4,0.120230,16.567211,0.002013,489.015881,5.305931e+05,1.884680e-06,0
...,...,...,...,...,...,...,...
10005,0.108797,4.524017,0.575282,421.912803,2.383319e+01,4.026869e-02,1000
10006,0.087448,4.951889,0.574480,526.721627,1.605264e+02,6.190938e-03,1000
10007,0.108797,4.524017,0.575282,421.912804,2.383319e+01,4.026869e-02,1000
10008,0.108797,4.524017,0.575282,421.912803,2.383319e+01,4.026869e-02,1000
10009,0.108797,4.524017,0.575282,421.912803,2.383319e+01,4.026869e-02,1000

In [6]:
df_resume

,X_0,X_1,X_2,X_3,OF BEST,FIT BET,ID BEST,X_0,X_1,X_2,X_3,OF WORST,FIT WORST,ID WORST,OF AVG,FIT AVG,ITERATION,neof
0,0.842759,3.392767,1.595090,76.283569,9025.771714,0.000111,5,1.932369,13.412877,0.286646,936.684502,4.152301e+15,2.408303e-16,3,4.242248e+14,0.000011,0,10
1,0.664464,3.637337,1.562333,0.000000,8275.888233,0.000121,0,1.653176,4.848064,0.821226,273.671855,3.971121e+11,2.518180e-12,1,5.224227e+10,0.000084,1,29
2,0.675750,1.696384,1.797545,38.141785,6574.643971,0.000152,5,1.146448,19.482340,1.308753,472.070365,1.298559e+07,7.700842e-08,8,1.305738e+06,0.000114,2,58
3,0.945397,2.706584,2.000000,16.210244,6451.415130,0.000155,2,0.664464,3.637337,1.562333,0.000000,8.275888e+03,1.208184e-04,0,7.568167e+03,0.000134,3,80
4,0.681291,3.816863,1.544476,85.819015,4625.485607,0.000216,4,0.508742,0.000000,2.000000,0.000000,8.275888e+03,1.208184e-04,7,6.458402e+03,0.000162,4,113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,0.108797,4.524017,0.575282,421.912803,23.833190,0.040269,9,0.108797,4.524017,0.575282,421.912803,2.383319e+01,4.026869e-02,3,2.383319e+01,0.040269,996,25760
997,0.108797,4.524017,0.575282,421.912803,23.833190,0.040269,9,0.108797,4.524017,0.575282,421.912803,2.383319e+01,4.026869e-02,3,2.383319e+01,0.040269,997,25782
998,0.108797,4.524017,0.575282,421.912803,23.833190,0.040269,9,0.108797,4.524017,0.575282,421.912803,2.383319e+01,4.026869e-02,3,2.383319e+01,0.040269,998,25803
999,0.108797,4.524017,0.575282,421.912803,23.833190,0.040269,9,0.108797,4.524017,0.575282,421.912803,2.383319e+01,4.026869e-02,3,2.383319e+01,0.040269,999,25824
1000,0.108797,4.524017,0.575282,421.912803,23.833190,0.040269,9,0.108797,4.524017,0.575282,421.912803,2.383319e+01,4.026869e-02,3,2.383319e+01,0.040269,1000,25846

# Report

### txt

In [7]:
filename = "report_genetic_algorithm_01.txt"
with open(filename, "w") as f:
    f.write(report)

### xlsx

In [8]:
filename = "report_genetic_algorithm_01.xlsx"
df_resume.to_excel(filename, index=False)